{% extends "base/theme.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
  </a>
  <h1>SCRS Self-Analysis</h1>
  <p>Now that you know how to read your SCRS graph, consider some questions you can ask yourself to reach a better understanding of your relational world. Your relational world is unique only to you and has your personal stamp on it. Whether consciously or subconsciously, actively or passively, you choose your relationships and construct your network of relationships. This network is a true extension and reflection of your personality.</p>
</div>
</div>
<div  class="swimlane section ">
    <div class="container">

      
        <div class="col-md-12">
          
          <ul class="">
            <li class="selling-point-item">How was your relational world constructed? Are you making conscious choices about these relationships, or are you passively letting them select themselves based upon more subconscious factors?</li>
            <li class="selling-point-item">How do you attract certain people and repel others?</li>
            <li class="selling-point-item">Which relationships are bound by loyalties based upon social convention; for example, loyalties to family members and in-laws?</li>
            <li class="selling-point-item">Which relationships are bound by circumstances; for example, neighbors and coworkers?</li>
            <li>How deliberately are you choosing the people in your Inner orbit? These are the people in positions to influence you the most.</li>
            <li>Are there people in your Inner orbit whom you should move to the Middle or outer orbit, thus reducing their influence on you?</li>
            <li>Are there people in your Outer or Middle orbits whom you should move to your Inner orbit, thus allowing them to be a greater influence on you and you on them?</li>
            <li>Are there people in your Inner orbit who are unavoidable, such as co-workers, family members, or in-laws? How can you alter the quality of those relationships so that they are more positive?
            </li>
            <li>Consider the character qualities of those closest to you in your Inner orbit. These individuals have the greatest access to you. Do they reflect the character qualities you find most important?</li>
            <li>Are there people you have deliberately brought into your Inner orbit in order to positively influence them, such as in a mentorship or parent/child relationship?</li>
            <li>Alternately, are there people you have brought into your Inner orbit only to use them for something you can get from them?
                ∙Is the amount of energy you use to manage your relational world just right?</li>
                <li>Does the management of your relational world require too much energy, or are you ignoring those in your relational world, letting those relationships whither?</li>
                <li>You are on a journey. You carry your relational world with you wherever you go. In the end your relationships will be your most valuable asset. How can you deliberately and consciously manage your relational world so that it is of the highest quality?</li>
            </ul>
        </div>

    </div>
</div>
</div>


{% endblock %}
