<script src="/static/js/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
$( document ).ready(function() {

    $(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Percent On Diet vs Weight'
            },
            subtitle: {
                text: 'MyFitnessPal'
            },
            xAxis: [{
                categories: {% autoescape off %}{{ dates }}{% endautoescape %},
                crosshair: true
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value}°C',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                title: {
                    text: 'Temperature',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                opposite: true

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Percent Of Goal',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} %',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Weight',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                labels: {
                    format: '{value} lbs',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 80,
                verticalAlign: 'top',
                y: 55,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            series: [{
                name: 'Total Calories',
                type: 'column',
                yAxis: 1,
                data: {{ calories }},
                tooltip: {
                    valueSuffix: ' %'
                }

            }, {
                name: 'Sodium',
                type: 'spline',
                yAxis: 2,
                data: {{ sodium }},
                marker: {
                    enabled: false
                },
                dashStyle: 'shortdot',
                tooltip: {
                    valueSuffix: ' %'
                }

            }, {
                name: 'Carbohydrates',
                type: 'spline',
                data: {{ carbohydrates }},
                tooltip: {
                    valueSuffix: ' %'
                }
            }, {
                name: 'Sugars',
                type: 'spline',
                data: {{ sugar }},
                tooltip: {
                    valueSuffix: ' %'
                }
            }, {
                name: 'Protein',
                type: 'spline',
                data: {{ protein }},
                tooltip: {
                    valueSuffix: ' %'
                }
            }]
        });
    });
});
</script>

<div id="container" style="min-width: 400px; height: 100%; margin: 0 auto"></div>
